
/* 
Extra small <576px 
Small ≥576px (sm)
Medium ≥768px (md)
Large ≥992px (lg)
X-Large ≥1200px (xl)
XX-Large ≥1400px (xxl)
*/


/* CUSTOM PROPERTIES */

:root {
    --size-0-5rem: 0.5rem;
    --size-0-75rem: 0.75rem;
    --size-1rem: 1rem;
    --size-1-25rem: 1.25rem;
    --size-1-5rem: 1.5rem;
    --size-2rem: 2rem;
    --size-2-5rem: 2.5rem;
    --size-3rem: 3rem;
    --size-3-5rem: 3.5rem;
    --size-4rem: 3.5rem;
    --bg-color-gray: #e5e5e5;
    --bg-color-lightgray: #f8f9fa;
    --sidebar-bg-color: #051e34;
    --bg-pills-color: #165bba;
}

/* HEADER */

.header-page { 
    background-color: var(--bg-color-lightgray);
}

.header-page .img-fluid {
    width: 50px;
}

.header-page .form-control {
    background-color: var(--bg-color-gray);
}

.header-page .fa-bell {
    color: #ff8f00;
}

.header-page button {
    background-color: white;
    border: none;
}


/* MAIN-APP */

.main-app {
    height: calc(100vh - 70px);
    max-width: 100%;
}


/* SIDEBAR */

.sidebar {
    flex: 0 0 50px;
    color: white;
    font-size: var(--size-1-25rem);
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    background-image: url(../img/sidebar-bg.png);
}

.sidebar span {
    padding-left: 5px;
}

.sidebar .stats {
    padding-left: 12px;
}



/* HEADER MAIN */

.header-main {
    background-color: #1b72e8;
    font-size: var(--size-1-25rem);
}

.header-main h3 {
    font-size: var(--size-1-5rem);
}

.header-main .rounded-pill {
    background-color: var(--bg-pills-color);
}



/* MAIN */

main {
    flex: 1 1 auto;
    background-color: var(--bg-color-lightgray);
    overflow: auto;
}



/* MAIN LEFT SIDE */

.avatar-table {
    width: 25px;
}


.next-class {
    height: 500px;
    background-color: white;
}

.faq {
    height: 200px;
    background-color: black;
}

/* MAIN RIGHT SIDE  */

.to-do {
    height: 200px;
    background-color: black;
}

.active-users {
    height: 500px;
    background-color: black;
}


/* MEDIA */

@media screen and (min-width: 992px) {
    
    .sidebar {
        flex-basis: 150px;
    }

    main {
        width: calc(100% - 250px)
    }

}
