
/* 
Extra small <576px 
Small ≥576px (sm)
Medium ≥768px (md)
Large ≥992px (lg)
X-Large ≥1200px (xl)
XX-Large ≥1400px (xxl)
*/


/* HEADER */

header {
    height: 80px;
    background-color: yellow;
}


/* MAIN-APP */

.main-app {
    height: calc(100vh - 80px);
    max-width: 100%;
}


/* SIDEBAR PHONE */

.sidebar-phone {
    width: 50px;
    height: 100%;
    background-color: black;
}


/* SIDEBAR TABLET */

.sidebar-tablet {
    width: 250px;
    background-color: black;
}


/* MAIN */

main {
    width: calc(100% - 50px);
    background-color: blue;
}

.students {
    height: 100px;
    background-color: red;
}


/* MAIN LEFT SIDE */

.next-class {
    height: 500px;
    background-color: black;
}

.faq {
    height: 200px;
    background-color: black;
}

/* MAIN RIGHT SIDE  */

.to-do {
    height: 200px;
    background-color: black;
}

.active-users {
    height: 500px;
    background-color: black;
}


/* MEDIA */

@media screen and (min-width: 992px) {
    
    main {
        width: calc(100% - 250px)
    }

}
