
/* 
Extra small <576px 
Small ≥576px (sm)
Medium ≥768px (md)
Large ≥992px (lg)
X-Large ≥1200px (xl)
XX-Large ≥1400px (xxl)
*/


/* CUSTOM PROPERTIES */

:root {
    --bg-color-gray: #e5e5e5;
    --bg-color-lightgray: #f8f9fa;
    --sidebar-bg-color: #051e34;
}

/* HEADER */

header { 
    background-color: var(--bg-color-lightgray);
}

header .img-fluid {
    width: 50px;
}

header .form-control {
    background-color: var(--bg-color-gray);
}

header .fa-bell {
    color: #ff8f00;
}

header button {
    background-color: white;
    border: none;
}


/* MAIN-APP */

.main-app {
    height: calc(100vh - 70px);
    max-width: 100%;
}


/* SIDEBAR PHONE */

.sidebar-phone {
    width: 50px;
    height: 100%;
}

.sidebar-phone, .sidebar-tablet {
    background-color: var(--sidebar-bg-color);
    background-image: url(../img/sidebar-bg.png);
}


/* SIDEBAR TABLET */

.sidebar-tablet {
    width: 250px;
}


/* MAIN */

main {
    width: calc(100% - 50px);
    background-color: blue;
    overflow: auto;
}

.students {
    height: 100px;
    background-color: red;
}


/* MAIN LEFT SIDE */

.next-class {
    height: 500px;
    background-color: black;
}

.faq {
    height: 200px;
    background-color: black;
}

/* MAIN RIGHT SIDE  */

.to-do {
    height: 200px;
    background-color: black;
}

.active-users {
    height: 500px;
    background-color: black;
}


/* MEDIA */

@media screen and (min-width: 992px) {
    
    main {
        width: calc(100% - 250px)
    }

}
